@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-blue: #0055D2;
  --color-tan: #F8ECD8;
  --color-black: #363636;
  --color-periwinkle: #C1CEFE;
  --color-red: #F06543;
  --color-green: #00A067;
}